html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: NotoSansCJK-KR;
  src: url('/fonts/NotoSansCJK-KR-Bold.otf'); 
  font-weight: 700;
}

@font-face {
  font-family: NotoSansCJK-KR;
  src: url('/fonts/NotoSansCJK-KR-Regular.otf');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-family: NotoSansCJK-KR, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;
  border: none;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
}
